---
BasedOnStyle: LLVM
IndentCaseLabels: "true"
IndentWidth: 4
ConstructorInitializerIndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
BreakBeforeBraces: Custom
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
ColumnLimit: 0
PointerAlignment: Left
SpaceBeforeAssignmentOperators: true
SpaceAfterControlStatementKeyword: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInTemplateParameters: false
BraceWrapping:
  SplitEmptyFunction: false
PackConstructorInitializers: Never
